@font-face{
    font-family: 'Raleway', sans-serif;
    src: url(fonts/Raleway-VariableFont_wght.ttf) format('truetype');
    src: url(fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}

body{
    font-family:'Raleway', sans-serif;
    margin: 0;
}

#bloc_page{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;   
}

#head{
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 150px;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
}

.hebergement, .activite{
    font-size: 1.5em; 
    padding: 18px;
}

.hebergement:hover, .activite:hover{
    border-top: 4px #0065FC solid;
    color: #0065FC;
}

a.inscription{
    font-weight: bold;
    color:#0065FC;
    text-decoration: none; 
    font-size: 1.5em; 
    align-self: center;
    margin-left: 18px;
}

#menu{
    display: flex;
    align-items: center;
}

/* Search bar */
#container_filter{
    display: flex;
    margin-bottom: 30px;
}

#bloc1{
    height: 59px;
    width: 65px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#localisation_icon{
    width: 22px
}

input{
    width:250px;
    padding: 0.8em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Raleway' , sans-serif;
    border: none;
}

form{
    display: flex;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#button_search{
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 150px;
    font-size: 1em;
    text-align: center;
    height: 55px;
}

#mini_search{
    width: 25px;
}

#button_search_mini{
    background-color: #0065FC;
    color: white;
    border-radius: 20px;
    width: 55px;
    display: none;
    font-size: 1em;
    text-align: center;
    height: 100%;
    border: none;
}

/*Filter bar*/
#bar_filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtre{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 2%;
}

.container{
    border-bottom: 3px solid #F2F2F2;
    border-top: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    height: 50px;
    width: auto;
    border-radius: 26px;
    margin-right: 2%;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}

.container p{
    margin: 0 14px;
}

.container:hover{
    background-color: #0065FC;
}

.bloc_icon{
    border-radius: 25px;
    height: 55px;
    width: 55px;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg1{
   width: 20px;
}

#info_bar{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#icon_info{
    border: 2px solid #F2F2F2;
    width: 35px;
    border-radius: 50%; 
    height: 35px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

/*hosting*/
#hebergements{
    width: 63%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-around;
    height: 850px;
}

#heberg_text {
    margin-top: 35px;
    width: 95%;
}

#text_aff{
    width: 95%;
}

.picture_marseille{
    background-color: white;
    width: 27%;
    height: 27%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
    border: none; 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.picture_marseille:hover{
    background-color:#DEEBFF;
}

a.link_card_hebergement{
    height: 100%; 
}

.photo{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 95%;
    min-width: 140px;
    height: 55%;
    margin: 2% 2%;
    object-fit: cover;
    object-position: center;
}

.card_title{
        margin-left: 5%;
        line-height: 1px;
        
}
    
h3{
    margin-top: 5px;
    line-height: 1em;
    font-size: 1em;
}
    
.note{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
    
span{
    font-weight: bold;
}

#section1{
    display: flex;
    justify-content: space-between;
}

/* Popular */
#populaire{
    width: 33%;
    min-width: 300px;
    height: 850px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#head_populaire{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

#head_populaire img{
    width: 10%;
}

.picture_marseille_populaire{
    background-color: white;
    width : 85%;
    min-width: 270px;
    height: 170px;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
}

a.link_card_populaire{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap; 
    position: relative;
}

.picture_marseille_populaire:hover{
    background-color: #DEEBFF; 
}

.card_title_populaire{
    width: 55%;
    line-height: 2em;
    padding-top: 3%;
    margin-left: 2%;
}

.note_populaire{
    display: flex;
    justify-content: space-between;
    width: 25%;
    position: absolute;
    bottom: 8%;
    left: 45%;
}

.photo_populaire{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%;
    object-fit: cover;
    object-position: center;
    height: 93% ;
    margin: 2% 0% 2% 2%;
}

/*Section actitity*/
#title_section2{
    margin-top: 2%;
}

#activites{
    width: 100%;
    height: 650px;
    margin-top: 2%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;  
}

/*Port+Calanques*/
.card_activite_large{
    background-color: white;
    width: 22%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;   
}

.link_card_activite h3{
    margin-left: 7%;
    margin-top: 7%; 
}

a.link_card_activite{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card_activite_large:hover{
    background-color:#DEEBFF;
}

.photo_large{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_photo_large{
    width: 100%;
    height: 90%;
}

.title_activite{
    width: 95%;
    align-self: flex-end;
    margin-left: 20px;
}

/*Fort de Pomègue*/
.card_activite_pomegues{
    background-color: white;
    width: 22%;
    height: 50%;
    margin-bottom: 97px;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card_activite_pomegues:hover{
    background-color: #DEEBFF;
}

.photo_pomegues{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_photo_pomegues{
    width: 100%;
    height: 80%;
}

/*Îles de Frioul*/
.card_activite_frioul{
    background-color: white;
    width: 22%;
    height: 35%;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card_activite_frioul:hover{
    background-color: #DEEBFF;
}

.photo_frioul{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_photo_frioul{
    width: 100%;
    height: 75%;
}

/*Notre dame de la Garde*/
.card_activite_dame{
    background-color: white;
    width: 22%;
    height: 40%;
    margin-bottom: 97px;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card_activite_dame:hover{
    background-color: #DEEBFF;
}

.photo_dame{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_photo_dame{
    width: 100%;
    height: 75%;
}

/*Parc Longchamp*/
.card_activite_longchamp{
    background-color: white;
    width: 22%;
    height: 45%;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card_activite_longchamp:hover{
    background-color: #DEEBFF;
}

.photo_longchamp{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_photo_longchamp{
    width: 100%;
    height: 80%;
}

/*FOOTER*/
#foot{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    margin-top: 2%;
}

#contain_foot{
    max-width: 1440px;
    margin: auto;
    display: flex;
    padding: 2rem 2rem;
}

.textfoot{
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    text-align: justify;
}

a.link_footer:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px)
{   
    #header{
        display: flex;
        flex-direction: column;
    }

    #head{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    #logo{
        width: 120px;   
    }

    a.inscription{
        position: absolute;
        top: 7%;
        right: 4%; 
        font-size: 1.5em;
    }

    #menu{
        width: 100%;
    }

    nav{
        width: 100%;
    } 

    ul{
        padding: 0;
    }

   ul li{
        border-bottom: 5px solid #F2F2F2;
        padding-bottom: 30px;
        padding-top: 30px;
        width: 50%;
        text-align: center;
    }

    .hebergement:hover, .activite:hover{
        border-top: none;
    }

    li:hover{
        border-bottom: 5px #0065FC solid;
        padding-bottom: 30px;
        color: #0065FC;
    }

    #title_head h1{
        font-size: 1.5em;
    }

    #title_head p{
        font-size: 1em;
    }

/* Search bar */
    #bloc1{
        width: 55px;
        height: 59px;
    }

    #localisation_icon{
        width: 17px;
    }

    input{
        width: 180px;
        height: auto;
        font-size: 1em;
    }

    #button_search{
        display : none;
    }
    
    #button_search_mini{
        display: block; 
    } 

/*Filter bar*/
    #bar_filter{
        width: 100%;
        justify-content: space-around;
    }

    .filtre{
        font-size: 1.2em; 
        width: 100%;
    }
    .container{
        height: 50px;
        margin-bottom: 20px; 
        margin-right: 0;
    }

    #icon_info{
        width: 30px;
        height: 25px;
    }  

/* popular */
    #head_populaire img{
        width: 6%;
    }

    #title_populaire{
        font-size: 1.2em;
    }

    #populaire{
        order: 1;
        width: 100%; 
        padding-bottom: 30px;
    }

    .photo_populaire{
        height: 84%;
    }

    .note_populaire{
        width: 13%;
    }

/* hosting */
    #section1{
        display: flex;        
        flex-direction: column;
        width: 100%;
    }

    #hebergements{
        order: 2;
        width: 100%;
        height: auto; 
        margin-top: 2%;
    }

    #heberg_text {
        font-size: 1.2em;
        margin-top: 30px;
    }

    .picture_marseille{
        width: 45%;
        height: 250px;
        margin-bottom: 40px;
    }

    .note{
        width: 24%
    }

/* activity */
    #title_section2{
       font-size: 1.2em;
    }

    #activites{
        height: 1200px;
        margin-top: 2%;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .card_activite_large{
        width: 45%;
        height: 380px;
        font-size: 1.3em;
    }
    
    .bloc_photo_large{
        height: 80%;
    }

    .card_activite_pomegues{
        width: 45%;
        height: 380px;
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .card_activite_frioul{
        width: 45%;
        height: 380px;
        font-size: 1.3em;
    }

    .bloc_photo_frioul{
        height: 80%;
    }

    .card_activite_dame{
        width: 45%;
        height: 380px;
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .bloc_photo_dame{
        width: 100%;
        height: 80%;
    }

    .card_activite_longchamp{
        width: 45%;
        height: 380px;
        font-size: 1.3em;
    }
    
/*FOOTER*/
    #contain_foot{
        width: auto;
        flex-direction: column;
        font-size: 1.2em;
    }

    .textfoot{
        width: auto;
        padding: 1.5rem 0;
    }
}

@media screen and (max-width: 480px)
{   
    #bloc_page{
        padding: 0;
    }

    #logo{
        width: 100px;
        margin-left: 2%;
    }

   ul li{
    padding-top: 10px;
    font-size: 0.7em;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 15px;
    }

    li:hover{
        border-bottom: 3px #0065FC solid;
        padding-bottom: 15px
    }

    a.inscription{
        top: 12%;
        right: 3%; 
        font-size: 1em;
    }

    #title_head{
        margin-left: 3%;
        width: 80%;
    }

    #title_head h1{
        font-size: 1.3em;
    }

    #title_head p{
        font-size: 1em;
        padding-bottom: 15px;
    }

/* Search bar */
    #container_filter{
        margin-left: 3%;
    }

    input{
        width: 150px;
    }

    #mini_search{
        width: 17px;
    }

/*Filter bar*/
    #bar_filter{
        justify-content: flex-start;
        width: auto;
        margin-left: 3%;
    }

    .container{
        margin-right: 2%;
    }

    #info_bar{
        width: 90%;
        margin-top: 10px;
        margin-left: 3%;
    }

    #svg_info{
        width: 7px;
    }

    /* popular */
    #head_populaire img{
        width: 35px;
        height: 30px;
    }

    #title_populaire{
        font-size: 0.9em;
    }

    .photo_populaire{
        height: 92%;
    }

    #populaire{
        border-radius: 0;
        height: 700px;
    }
    
/* hosting */
    #hebergements{
        background-color: white;
    }

    #heberg_text {
        font-size: 0.9em;
        margin-bottom: 15px;
        margin-left: 5%
    }
    

    .picture_marseille{
        min-width: 90%;
        height: 230px;
    }

    #text_aff{
        font-size: 0.9em;
        margin-left: 5%
    }

/* activity */
    #title_section2{
       font-size: 1em;
       margin-left: 5%
    }

    #activites{
        height: 1400px;
        flex-direction: column;
        align-content: center;
    }

    .link_card_activite h3{
        font-size: 0.8em;
        margin-top: 4%;
    }

    .card_activite_large{
        width: 90%;
        height: 200px;
    }

    .card_activite_dame{
        width: 90%;
        height: 200px;
    }

    
    .card_activite_pomegues{
        width: 90%;
        height: 200px;
    }

    .card_activite_frioul{
        width: 90%;
        height: 200px;
    }
    
    .card_activite_longchamp{
        width: 90%;
        height: 200px;
    }

    .title_activite{
        width: 95%;
        font-size: 0.8em;
    }

/*FOOTER*/
    #foot{
    margin-top: 10%;
    }
 
    .textfoot{
        line-height: 2em;
        padding: 0% 0% 15% 5%;
    }
}